# Default ignored files
/../../missionaries_and_cannibals /.idea/shelf/
/../../missionaries_and_cannibals /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../missionaries_and_cannibals /.idea/httpRequests/
# Datasource local storage ignored files
/../../missionaries_and_cannibals /.idea/dataSources/
/../../missionaries_and_cannibals /.idea/dataSources.local.xml
